<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Own Cloud</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    </head>
    <body>
        <nav class="navbar">
            <div class="title">
                <a href="/" class="btn title-btn">My Own <span>Cloud</span></a>
            </div>
            <div class="resources_buttons">
                <a href="/virtualmachine" class="virtualmachine">Virtual Machines</a>
                <a href="/diskstorage" class="diskstorage">Disk Storage</a>
                <a href="/container" class="container">Containers</a>
                <a href="/database" class="database">Data Bases</a>
            </div>
            <div class="profile_button">
                <a href="/profile" class="btn">Profile</a>
            </div>
        </nav>

        <hr class="division">
		
        {%block body%}

		{% endblock %}
    </body>
</html>