<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Own Cloud</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    </head>
    <body>
        <nav class="navbar">
            <div class="title">My Own Cloud</div>
            <div class="resources_buttons">
                <button>VMs</button>
                <button>Disk Storage</button>
                <button>Containers</button>
                <button>Data Bases</button>
            </div>
            <div class="profile_button">
                <button>profile</button>
            </div>
            
        </nav>
		
        {%block body%}

		{% endblock %}
    </body>
</html>