{% extends "base.html" %}

{% block body %}

<div class="left-sticky-info">
    <h3>Sobre Data Bases</h3>
    <p>Esta secção permite gerir as BDs da tua equipa. Usa o botão para eliminar uma BD (precisas de ser owner da equipa)</p>
</div>

<div class="db_page">
    <h1>Create and Manage DataBases</h1>

    <div class="team">
        <span style="font-size: 1.5em;font-weight: bold;margin-right: 10px;">Team:</span>
        <select id="team-select" onchange="selectTeam(this)">
            <option value="" {% if not session.get("teamid_selected") %}selected{% endif %} style='display: {{ "none" if session.get("teamid_selected") else "block" }};'>-- Select team --</option>
            {% for team in teams %}
            <option value="{{ team.TeamId }}" {% if session.get("teamid_selected") == team.TeamId %}selected{% endif %}>{{ team.TeamName }}</option>
            {% endfor %}
        </select>
        <button id="create_db_button" class="create_db_button" style='display: {{ "block" if session.get("teamid_selected") else "none" }};'> &plus; New DataBase</button>

        <div class="db_create" style="display: none;">
            <div class="content">
                <span class="close">&times;</span> <br>
                <form id="create_db_form" method="POST" action="/api/createdatabase">
                    <label for="dbname">DB Name: </label>
                    <input type="text" name="dbname" placeholder="Name" required />
                    <label for="description">DB Description: </label>
                    <textarea id="description" name="description" rows="5" cols="50" style="resize: vertical;"></textarea>
                    <button class="submit_button" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>

    <div class="info">
        <table class="db_table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Description</th>
                <th>Connection String</th>
                <th style="text-align: center;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ service.ServiceName }}</td>
                    <td>{{ service.ServiceConfig.db_status }}</td>
                    <td>{{ service.ServiceConfig.db_description if service.ServiceConfig.db_description!="" else "No description" }}</td>
                    <td>{{ service.ServiceConfig.connection_string }}</td>
                    <td style="text-align: center; vertical-align: middle;">
                        <div class="action_buttons"> 
                            <form method="POST" action="/api/dbaction" style="margin: 0; display: {{ 'none' if session['user_role']!='owner' else 'block' }}">
                                <input type="hidden" name="db_id" value="{{ service.ServiceConfig.db_id }}">
                                <input type="hidden" name="servicename" value="{{ service.ServiceName }}">
                                <input type="hidden" name="action" value="delete">
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>

<script>
    function selectTeam(selectElement) {
        const teamId = selectElement.value;
        if (teamId != ""){
            document.getElementsByClassName("create_db_button")[0].style.display = "block";
            selectElement.querySelector('option[value=""]').style.display = "none";
            
            fetch('/api/selectteam', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({ team_id: teamId, url_req: "database" })
            })
            .then(response => response.json())
            .then(data => {
                if (data.redirect) {
                    window.location.href = data.redirect;
                }
            })
            .catch(error => console.error('Error:', error));
        }
    }

    window.addEventListener('DOMContentLoaded', function() {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.get('db_created') === 'true' || urlParams.get('db_updated') === 'true') {
            document.getElementsByClassName("db_create")[0].style.display = "none";
            // Clean up the URL
            window.history.replaceState({}, document.title, window.location.pathname);
        }
    });


    document.getElementsByClassName("create_db_button")[0].onclick = function() {
        document.getElementsByClassName("db_create")[0].style.display = "block";
    }
    document.getElementsByClassName("close")[0].onclick = function() {
        document.getElementsByClassName("db_create")[0].style.display = "none";
    }
    var login_box = document.querySelector(".db_create");
    window.onclick = function(event) {
        if (event.target == login_box) {
            login_box.style.display = "none";
        }
    }

</script>



{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div id="flash-popup" class="flash-popup">
      {% for category, message in messages %}
        <div class="flash-message {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
    <script>
      const flashPopup = document.getElementById("flash-popup");
      if (flashPopup) {
        flashPopup.style.display = "block";
        setTimeout(() => {
          flashPopup.style.opacity = "0";
          setTimeout(() => flashPopup.style.display = "none", 500);
        }, 3000);
      }
    </script>
  {% endif %}
{% endwith %}

{% endblock %}