{% extends "base.html" %}

{% block body %}


<div class="index_page" style="text-align: center; font-size: 1.2em; margin-top: 50px; color:rgb(24, 59, 78);">
    <h1>Welcome to My Own <span style="color:rgb(221, 168, 83);">Cloud</span> Dashboard</h1>
    <p>Welcome to your personal cloud platform—designed for collaboration, control, and scalability</p>
    <p>Here, you can manage your account, create and join teams, and access powerful cloud services tailored for data science and compute-heavy tasks</p>
    <p> Whether you're working solo or with a team, this is your hub for deploying, monitoring, and managing the services that power your work</p>
</div>





{% endblock %}